* {
  margin: 0px;
  padding: 0px;
}

#login {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: #1B2B40;
}
.login_screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.login_screen button {
  border: none;
  padding: 3px 10px 3px 10px ;

}
.login_screen button:hover {
  background-color: red;
  color: white;
}

body {

  background-color: #1B2B40;
  color: rgb(220,220,220);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 7vh 88vh 5vh;
}

header{
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px 0px 0px 5px;
}
header button, h1 {
  display: inline-block;
  margin-left: 20px;
}
header button{
  border: none;
  padding: 3px 10px 3px 10px;
}
header button:hover{
  background-color: red;
  color: white;
}
.CalculatorBase {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;

  background-color: #F8F8FF;

}

.CalculatorBase article{
  width: 30%;
  height: 100%;
  color: #3F3F3F;
  padding: 20px;
}

.CalculatorBase article h1{
  color: #F28705;
  margin-bottom: 20px;
}

article button {
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border: none;
  background-color: #1B2B40;
  color: #F8F8FF;
}
article button:hover {
  box-shadow: 3px 3px #F28705;

}

.graph {
  color: #F28705;
  width: 70%;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.submitButton {
  background-color: #1B2B40;
  color: #F8F8FF;
  border: none;
  padding: 5px;
  font-family: inherit;
}

.submitButton:hover {
  background-color: #F28705;
}

footer{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 18px;
  padding: 5px;
}
a {
  text-decoration: none;
}
a:visited {
  color: rgb(220,220,220);
}
address p{
  display: inline-block;
}
address:first-child{
  color: #90D923;
}