{% load static %}

<!doctype html>

<html>

  <head lang="eng">
    <meta charset="utf-8">
    <meta name="description" content="An calculator providing support for variables. It enables you to display your function - and change it's look depending on the values of your variables." >
    <meta name="keywords" content="calculator, calculus, dividing, add, multiple, graphs, funtions, variables, graphical">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Graphing Calculator </title>

    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
    <!--<script>
      alert("Thank you for passing by! Be aware, that this is just a work-in-progress version of our app. You can check our code on https://github.com/aliPMPAINT/WebGraphingCalculator");
    </script>-->
    <script type="text/javascript" src="{% static 'calculator/script.js' %}"></script>
  </head>

  <body>
    <div id="login">
      <section class="login_screen">
        <form>
          <p>Login:</p><input type="text">
          <p>Password:</p><input type="password">
          <br />
          <input type="submit" value="Login">
          <input type="button" onclick="loginPage('c')" value="Back">
          <a href='{% url 'register' %}'> Register </a>
        </form>
      </section>
    </div>
    <header>
      <section>
        <h1>.Calculator</h1>
        <button onclick="window.location.href = {% url 'GraphingCalculator' %}">Home</button>
        {% if user.is_authenticated %}
          <button onclick="window.location.href = {% url 'logout' %}">Logout</button>
          <button onclick="window.location.href = {% url 'profile' %}">Profile</button> &nbsp
          Welcome {{ user.username }}!
        {% else %}
          <button onclick="window.location.href = {% url 'login' %}">Login</button>
          <button onclick="window.location.href = {% url 'register' %}">Register</button>
        {% endif %}
      </section>
    </header>

    <div class="CalculatorBase">

      {% block content %}

      {% endblock %}

    </div>

    <footer>
      <address>
        Creators: <p><a style='color: rgb(220, 220, 220);' href="https://github.com/aliPMPAINT">aliPMPAINT </a></p> &nbsp
                  <p><a style='color: rgb(220, 220, 220);' href="https://github.com/Jan00sh">Jan00sh</a></p>  &nbsp
                  <p><a style='color: rgb(220, 220, 220);' href="#">squid</a></p>
      </address>
    </footer>
  </body>

</html>
