{% load static %}

<!doctype html>

<html>

  <head lang="eng">
    <meta charset="utf-8"/>
    <title> Graphing Calculator </title>

    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet"> 

  </head>

  <body>
    <header>
      <section>
        <h1>.Calculator</h1>
      </section>
    </header>

    <div class="CalculatorBase">

      <article>
        <h1>This shall be an amazing calculator</h1>
        <form>
          <input type="text" width="15"/>
          <input type="submit" class="submitButton" value="Calculate"></input>
        </form> 
      </article>

      <div class="graph">

      </div>

    </div>
    <footer>
      <address>
        Creators: <p><a href="https://github.com/aliPMPAINT">aliPMPAINT </a></p>
                  <p><a href="https://github.com/untitledtotitled">untitledtotitled </a></p>
                  <p><a href="https://github.com/Jan00sh">Jan00sh</a></p> <br>
      </address>
    </footer>
  </body>

</html>
